In [2]:
pip install sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 3.9 MB/s
Installing collected packages: sastrawi
Successfully installed sastrawi-1.0.1

In [3]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
stemmer = StemmerFactory().create_stemmer()

i = 'menyapu disapu makanan dimakan memakan belajar pendidikan'
print(stemmer.stem(i))

sapu sapu makan makan makan ajar didik

In [5]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()

words = ['program','programs','programmer','programing','programmers']

for w in words:
    print(w, ' : ', ps.stem(w))

program  :  program
programs  :  program
programmer  :  programm
programing  :  program
programmers  :  programm

In [4]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

words = ['suka','kesukaan','menyukai','','disukai']

for w in words:
    print(w, ' : ', ps.stem(w))

suka  :  suka
kesukaan  :  kesukaan
menyukai  :  menyukai
  :
disukai  :  disukai

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
text = 'Hi Nama Saya Khomsah '

In [6]:
import nltk
nltk.download('punkt')
import pandas as pd

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [7]:
corpus = ['The sky is blue and beautiful',
          'The king is old and the queen is beautiful',
          'Love this beautiful blue sky',
          'The beautiful queen and the old king']

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
Doc_Term_Matrix = pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names())
Doc_Term_Matrix

['and', 'beautiful', 'blue', 'is', 'king', 'love', 'old', 'queen', 'sky', 'the', 'this']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   and  beautiful  blue  is  king  love  old  queen  sky  the  this
0    1          1     1   1     0     0    0      0    1    1     0
1    1          1     0   2     1     0    1      1    0    2     0
2    0          1     1   0     0     1    0      0    1    0     1
3    1          1     0   0     1     0    1      1    0    2     0

In [9]:
vectorizer = CountVectorizer(ngram_range=(1,2),stop_words='english')
x = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
Doc_Term_Matrix = pd.DataFrame(x.toarray(),columns = vectorizer.get_feature_names())
Doc_Term_Matrix

['beautiful', 'beautiful blue', 'beautiful queen', 'blue', 'blue beautiful', 'blue sky', 'king', 'king old', 'love', 'love beautiful', 'old', 'old king', 'old queen', 'queen', 'queen beautiful', 'queen old', 'sky', 'sky blue']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,beautiful,beautiful blue,beautiful queen,blue,blue beautiful,blue sky,king,king old,love,love beautiful,old,old king,old queen,queen,queen beautiful,queen old,sky,sky blue
0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1
1,1,0,0,0,0,0,1,1,0,0,1,0,1,1,1,0,0,0
2,1,1,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,0,1,0,0

In [10]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
tfidf = transformer.fit_transform(x)
Doc_Term_Matrix = pd.DataFrame(tfidf.toarray(),columns=vectorizer.get_feature_names())
pd.set_option('display.precision', 2)
Doc_Term_Matrix

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,beautiful,beautiful blue,beautiful queen,blue,blue beautiful,blue sky,king,king old,love,love beautiful,old,old king,old queen,queen,queen beautiful,queen old,sky,sky blue
0,0.28,0.00,0.00,0.42,0.53,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.42,0.53
1,0.23,0.00,0.00,0.00,0.00,0.00,0.35,0.44,0.00,0.00,0.35,0.00,0.44,0.35,0.44,0.00,0.00,0.00
2,0.22,0.43,0.00,0.34,0.00,0.43,0.00,0.00,0.43,0.43,0.00,0.00,0.00,0.00,0.00,0.00,0.34,0.00
3,0.23,0.00,0.44,0.00,0.00,0.00,0.35,0.00,0.00,0.00,0.35,0.44,0.00,0.35,0.00,0.44,0.00,0.00