In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('hasilpreprocessing.xlsx')

In [3]:
data

,Nama,Waktu,Rating,Review,CleanReview
0,Sonia Soraya,3 minggu lalu,5 bintang,Bismillah tadi kita ke ke sana.. Pas masuk di...,bismilah tadi sana pas masuk suru cuci tangan ...
1,Andy Kristyagita,sebulan lalu,5 bintang,Walaupun sudah berulang kali ke sini semenjak ...,walaupun ulang kali sini semenjak kecil rasa b...
2,Edza Tamara,2 minggu lalu,5 bintang,Suasanan malam hari di lokawisata baturraden n...,suasanan malam hari lokawisata baturaden nih s...
3,Abrakadabra,seminggu lalu,5 bintang,"Tempat nya sangat Bersih Dan rapih, butuh stam...",tempat sangat bersih rapih butuh stamina utama...
4,Riko Tampati,sebulan lalu,4 bintang,"Masih masa lebaran, tiket masuk agak mahal 25r...",masa lebaran tiket masuk mahal rb sangat ramai...
...,...,...,...,...,...
285,bunda popon,3 bulan lalu,5 bintang,"Paket komplit, murah meriah cocok untuk acara ...",paket komplit murah riah cocok acara keluarga
286,petruk,setahun lalu,5 bintang,"Lokasi nya nyaman dan aman, banyak tempat untu...",lokasi nyaman aman banyak tempat berswaphoto b...
287,Eva Meliana,2 tahun lalu,5 bintang,"Tempat nya bagus, sejuk, pemandian nya air nya...",tempat bagus sejuk mandi air dingin hangat fla...
288,Deandra Almerrafif W.T,sebulan lalu,5 bintang,"View bagus,,, tiket murah, berenang free",view bagus tiket murah renang fre
289,agniya ridha,2 tahun lalu,5 bintang,"Seneng banget bisa kesini, suasananya alam ban...",neng banget kesini suasana alam banget bukit s...

In [4]:
data.drop(['Nama','Waktu','Rating','Review'], axis=1, inplace=True)

In [5]:
data

                                           CleanReview
0    bismilah tadi sana pas masuk suru cuci tangan ...
1    walaupun ulang kali sini semenjak kecil rasa b...
2    suasanan malam hari lokawisata baturaden nih s...
3    tempat sangat bersih rapih butuh stamina utama...
4    masa lebaran tiket masuk mahal rb sangat ramai...
..                                                 ...
285      paket komplit murah riah cocok acara keluarga
286  lokasi nyaman aman banyak tempat berswaphoto b...
287  tempat bagus sejuk mandi air dingin hangat fla...
288                  view bagus tiket murah renang fre
289  neng banget kesini suasana alam banget bukit s...

[290 rows x 1 columns]

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vektor = TfidfVectorizer(max_features = 1000)

In [7]:
#menghitung tf-idf dengan TfidfTransformer
vektor_dt = vektor.fit_transform(data['CleanReview'])
print(vektor_dt)
print(vektor_dt.shape)

  (0, 347)	0.08421706155368819
  (0, 273)	0.04799209947632266
  (0, 371)	0.07987105350107547
  (0, 468)	0.08421706155368819
  (0, 524)	0.07650002776201868
  (0, 568)	0.09034241587234121
  (0, 472)	0.1111146060389744
  (0, 597)	0.1160249473075824
  (0, 337)	0.06939969112980973
  (0, 857)	0.07374569918242245
  (0, 30)	0.08421706155368819
  (0, 450)	0.1160249473075824
  (0, 378)	0.06327433681115671
  (0, 973)	0.09034241587234121
  (0, 793)	0.07987105350107547
  (0, 343)	0.08421706155368819
  (0, 633)	0.09034241587234121
  (0, 640)	0.09034241587234121
  (0, 930)	0.09034241587234121
  (0, 272)	0.16843412310737638
  (0, 66)	0.0580124736537912
  (0, 302)	0.062065133021927114
  (0, 248)	0.07141694754998529
  (0, 918)	0.07987105350107547
  (0, 64)	0.06939969112980973
  :	:
  (287, 834)	0.08358204323581261
  (287, 419)	0.12896191883172808
  (288, 951)	0.5253239105715615
  (288, 224)	0.5484726658816598
  (288, 445)	0.34296496466574855
  (288, 49)	0.25765402863477166
  (288, 872)	0.31223055695262647
  (288, 616)	0.37644924971052074
  (289, 778)	0.33031463092997715
  (289, 102)	0.2797033729101378
  (289, 495)	0.23615298271747767
  (289, 784)	0.25374275351004566
  (289, 49)	0.1371852668473077
  (289, 449)	0.2797033729101378
  (289, 17)	0.16215063528675477
  (289, 984)	0.11648909892990988
  (289, 338)	0.20043657399672055
  (289, 768)	0.22283241244695903
  (289, 273)	0.17547120555727347
  (289, 401)	0.1930609763498414
  (289, 392)	0.1865552381593302
  (289, 266)	0.15035388397133856
  (289, 834)	0.10509211968950363
  (289, 54)	0.5596657144779905
  (289, 56)	0.12655961807027477
(290, 1000)

In [8]:
idf = vektor.idf_

In [10]:
        dd = dict(zip(vektor.get_feature_names(), idf))
        l = sorted(dd, key = (dd).get)
        print(l[0], l[-1])
        print(dd['tempat'])
        print(dd['yuk'])

tempat yuk
1.9026386427058277
5.980176086611547

In [12]:
from sklearn.decomposition import TruncatedSVD
lsa_model = TruncatedSVD(n_components=10, algorithm='randomized', n_iter=10, random_state=42)
lsa_top = lsa_model.fit_transform(vektor_dt)

In [13]:
# jumlah dokumen * jumlah topik
print(lsa_top.shape)

(290, 10)

In [14]:
# top lsa
print(lsa_top)

[[ 0.31745006 -0.17029351 -0.11552146 ... -0.15115519 -0.00735828
   0.00441833]
 [ 0.23077147 -0.08078673 -0.00405185 ... -0.06458661  0.03549375
  -0.06265393]
 [ 0.25025216 -0.05180426 -0.10613226 ... -0.26583907 -0.12007052
   0.04399331]
 ...
 [ 0.21230506 -0.13931997  0.01432029 ...  0.10024961  0.04317799
   0.08046309]
 [ 0.1533487  -0.03724352 -0.00294536 ...  0.18207864  0.06576912
   0.052478  ]
 [ 0.31116954 -0.04544655 -0.01161705 ... -0.10928027 -0.02887286
   0.07885098]]

In [15]:
# memunculkan nilai lsa setiap topik
l = lsa_top[0]
print('Topik - Topik :')
for i, topic in enumerate(l):
    print('Topic ', i, ' : ', topic*100)

Topik - Topik :
Topic  0  :  31.745005732730412
Topic  1  :  -17.029350504564885
Topic  2  :  -11.552146386091563
Topic  3  :  -20.639790650657307
Topic  4  :  -15.414840634952784
Topic  5  :  4.698333069504581
Topic  6  :  3.052427219395856
Topic  7  :  -15.115519169074492
Topic  8  :  -0.735828199049032
Topic  9  :  0.44183323491565724

In [16]:
#memunculkan jumlah kata-kata dalam setiap topik
print(lsa_model.components_.shape)
print(lsa_model.components_)

(10, 1000)
[[ 0.00472223  0.00938492  0.00394329 ...  0.00287022  0.00238514
   0.00403317]
 [-0.00110266  0.00036106 -0.00491462 ...  0.00184425 -0.00123164
  -0.00925591]
 [ 0.00418243 -0.01583195 -0.00549772 ...  0.00498468 -0.00270828
  -0.00135519]
 ...
 [-0.00817405  0.01221146 -0.00460261 ... -0.01379516 -0.01109656
  -0.00081585]
 [-0.00017271  0.00473861  0.00675748 ... -0.01673681 -0.00534255
   0.00013949]
 [-0.01179278  0.01105272 -0.00225856 ...  0.00700665  0.00202098
   0.0049999 ]]

In [17]:
# word / kata paling penting dalam setiap topik
vocab = vektor.get_feature_names()
for i, comp in enumerate(lsa_model.components_):
    vocab_comp = zip(vocab, comp)
    sorted_words = sorted(vocab_comp, key = lambda x:x[1], reverse=True)[:10]
    print('Topic '+str(i)+': ')
    for t in sorted_words:
        print(t[0], end=', ')
    print('\n')

Topic 0:
tempat, wisata, keluarga, bagus, buat, sejuk, nyaman, banyak, cocok, bersih,

Topic 1:
keluarga, nyaman, tempat, cocok, buat, libur, bagus, bersih, sejuk, udara,

Topic 2:
nyaman, indah, pandang, segar, bersih, sejuk, mantap, udara, asri, sekali,

Topic 3:
wisata, alam, indah, baturaden, keluarga, purwokerto, sangat, gunung, slamet, cocok,

Topic 4:
bagus, udara, segar, alam, pemandanganya, wisata, libur, bgt, seger, pandang,

Topic 5:
mantap, pandang, indah, kesini, bgt, masuk, sekali, banget, murah, tiket,

Topic 6:
bagus, buat, wisata, alam, nyaman, indah, spot, foto, banget, makin,

Topic 7:
murah, alam, bersih, wisata, masuk, tempat, sejuk, sangat, tiket, biaya,

Topic 8:
nyaman, tiket, keluarga, wahana, air, masuk, bagus, cocok, seru, alam,

Topic 9:
asri, sejuk, alam, murah, segar, cocok, gunung, banyak, banget, udara,